# Core ML and DL libraries
tensorflow>=2.15.0
keras>=2.15.0
jax
jaxlib
torch
torchvision
scikit-learn
pandas
numpy

# Computer Vision
pycocotools
opencv-python
scikit-image
pillow

# NLP Libraries
transformers
nltk
textblob
langdetect
googletrans
spacy
pytextrank

# Visualization
matplotlib
seaborn

# Progress bar
tqdm~=4.64.0

# Web UI
streamlit
gradio==3.1.1

# Note: spaCy model required
# Run after install:
# python -m spacy download en_core_web_lg
